# Denison CS-181/DA-210 Homework

---

## Chapter 7

*Execute the prolog cell*

In [1]:
import os
import io
import sys
import re

from contextlib import redirect_stdout

def add_modules():
    """
    Starting at the current directory and proceeding up the file system
    tree, search for a directory named `modules`.  If found, and if not
    already there, add to the Python module search path.
    
    Params: None
    
    Return: None
    """
    directory = "."
    levels = 0
    while not os.path.isdir(os.path.join(directory, "modules")) and \
          levels < 5:
        directory = os.path.join(directory, "..")
        levels += 1
    module_path = os.path.abspath(os.path.join(directory, "modules"))
    if os.path.isdir(module_path):
        if not module_path in sys.path:
            sys.path.append(module_path)

add_modules()
import util

datadir = util.resolve_dir("tabulardata")

In [2]:
import pandas as pd

### Section 7.2: Data Set Construction

In [3]:
path = os.path.join(datadir, "worldbank", "countrymeta.csv")
countrymeta, aggregates = util.meta2country_aggs(path)

path = os.path.join(datadir, 'worldbank', 'land.csv')
landindicator = util.ind2df(path, aggregates, 'land')
lastyear = list(landindicator.index.levels[0])[-1]
latestland = landindicator.xs(key=lastyear, level='year')
countrydf = countrymeta.join(latestland, how="left")

In [4]:
topnames_path = os.path.join(datadir, "topnames.csv")
assert os.path.isfile(topnames_path)

topnames0 = pd.read_csv(topnames_path)
topnames = pd.read_csv(topnames_path, index_col=['year', 'sex'])

In [5]:
indlist = ['pop', 'gdp', 'life', 'cell']
conversions = [(1000000, 2), (1000000000, 2), (1, 2), (1000000, 2)]
metalist = ['country']
yearlist = 2017
codelist = ['CHN', 'IND', 'RUS', 'USA', 'VNM']

inddatadir = os.path.join(datadir, "worldbank")
indicators = util.build_indicators(indlist, conversions, metalist, yearlist, codelist,
                      aggregates, countrydf, inddatadir)
indicators0 = indicators.reset_index()

**Q1** Project the `count` column in `topnames0`, assigning to `count`, and use the `head()` method to print the first five enties in `count`.

In [12]:
result = io.StringIO()
with redirect_stdout(result):
    count = topnames0['count']
    print(count.head())
print(result.getvalue())

0    7065
1    9655
2    6919
3    8769
4    8148
Name: count, dtype: int64

In [13]:
# Testing Cell

assert True


**Q2** Project the `count` column in `topnames`, assigning to `count`, and print the first five enties in `count`.  How does this differ from what you saw in the last question (answer as a comment in your solution code cell)?

In [16]:
result = io.StringIO()
with redirect_stdout(result):
    count = topnames['count']
    print(count.head())
print(result.getvalue())
# topnames0 count just printed the count column while topnames count printed year, sex, and count

year  sex
1880  Female    7065
      Male      9655
1881  Female    6919
      Male      8769
1882  Female    8148
Name: count, dtype: int64

In [17]:
# Testing Cell

assert True

**Q3** Print the projection of the `cell` column **as an attribute** from `indicators`

In [18]:
result = io.StringIO()
with redirect_stdout(result):
    print(indicators.cell)
print(result.getvalue())

code
CHN    1469.88
IND    1168.90
RUS     227.30
USA     391.60
VNM     120.02
Name: cell, dtype: float64

In [19]:
# Testing Cell

assert True

**Q4** Print the type of `indicators.cell`.  Note the result.

In [20]:
result = io.StringIO()
with redirect_stdout(result):
    print(type(indicators.cell))
print(result.getvalue())

<class 'pandas.core.series.Series'>

In [21]:
# Testing Cell

assert True

**Q5** Project the `life` column from `indicators`, assigning to `life_column`.  Then use a print function to show the `IND` and `VNM` values within that column.

In [22]:
result = io.StringIO()
with redirect_stdout(result):
    life_column = indicators['life']
    print(life_column['IND'],life_column['VNM'])
print(result.getvalue())

68.8 76.45

In [23]:
# Testing Cell

assert True

**Q6** Project the `count` column from **`topnames0`** (note that this differs from the book, where it is using `topnames`.  Assign to `count_column` and then use integer positions to print the position 0, 3, 250, and 251 elements of the column.

In [24]:
result = io.StringIO()
with redirect_stdout(result):
    count_column = topnames0['count']
    print(count_column[0],count_column[3],count_column[250],count_column[251])
print(result.getvalue())

7065 8769 23940 25833

In [25]:
# Testing Cell

assert True

**Q7** Multiply the `gdp` column vector of `indicators` by the scalar 1.5 and assign to `new_gdp`, printing the calculated column.

In [26]:
result = io.StringIO()
with redirect_stdout(result):
    new_gdp = indicators['gdp'] * 1.25
    print(new_gdp)
print(result.getvalue())

code
CHN    15179.3625
IND     3315.6875
RUS     1973.2750
USA    24356.7375
VNM      279.7250
Name: gdp, dtype: float64

In [27]:
# Testing Cell

assert True

**Q8** Perform a vector division of the `gdp` column by the `pop` column of `indicators`, assigning to `gdp_per_person` and print the calculated column.

In [28]:
result = io.StringIO()
with redirect_stdout(result):
    gdp_per_person = indicators['gdp']/indicators['pop']
    print(gdp_per_person)
print(result.getvalue())

code
CHN     8.759009
IND     1.981496
RUS    10.924706
USA    59.927387
VNM     2.365539
dtype: float64

In [29]:
# Testing Cell

assert True

**Q9** Compute a boolean vector comparing values in the `life` column to see if they are greater than 73.  Assign the computed column to `long_life` and print the result.

In [30]:
result = io.StringIO()
with redirect_stdout(result):
    long_life = indicators['life'] > 73
    print(long_life)
print(result.getvalue())

code
CHN     True
IND    False
RUS    False
USA     True
VNM     True
Name: life, dtype: bool

In [31]:
# Testing Cell

assert True

**Q10** Compute `short_life`, a boolean vector that is the logical negation of the `life` column values being greater than 73.  Also compute `small_gdp`, a boolean vector where the values in the `gdp` column are less than 10000.0.  Finally, compute and print `condition`, which is the logical OR of `short_life` and `small_gdp`.

In [35]:
result = io.StringIO()
with redirect_stdout(result):
    short_life = ~(long_life)
    small_gdp = indicators['gdp'] < 10000.0
    condition = short_life | small_gdp
    print(condition)
print(result.getvalue())

code
CHN    False
IND     True
RUS     True
USA    False
VNM     True
dtype: bool

In [36]:
# Testing Cell

assert True

**Q11** Again, compute the same `condition` as the last question, but do it in a single expression and assignment, and then print the result.

In [44]:
result = io.StringIO()
with redirect_stdout(result):
    condition = ((indicators['gdp'] < 10000.0) | (indicators['life'] <= 73))
    print(condition)
print(result.getvalue())

code
CHN    False
IND     True
RUS     True
USA    False
VNM     True
dtype: bool

In [45]:
# Testing Cell

assert True

**Q12** Use a column's `apply()` method to invoke the `int` function on all the elements of the `gdp` column in `indicators`, assigning to `gdp_ints` and printing the result.

In [46]:
result = io.StringIO()
with redirect_stdout(result):
    gdp_ints = indicators['gdp'].apply(int)
    print(gdp_ints)
print(result.getvalue())

code
CHN    12143
IND     2652
RUS     1578
USA    19485
VNM      223
Name: gdp, dtype: int64

In [47]:
# Testing Cell

assert True

**Q13** Project both the `pop` and `code` columns from `indicators0`, assigning to `pop_code` and printing the result.

In [50]:
result = io.StringIO()
with redirect_stdout(result):
    pop_code = indicators0[['pop','code']]
    print(pop_code)
print(result.getvalue())

       pop code
0  1386.40  CHN
1  1338.66  IND
2   144.50  RUS
3   325.15  USA
4    94.60  VNM

In [51]:
# Testing Cell

assert True

**Q14** Project the `cell` column from `indicators` and assign to `cell1`.  Project a list of columns consisting of the single item `cell` from `indicators` and assign to `cell2`. Print the type of `cell1` and then print `cell1`.

In [54]:
result =  io.StringIO()
with redirect_stdout(result):
    cell1 = indicators['cell']
    cell2 = indicators[['cell']]
    print(type(cell1))
    print(cell1)
print(repr(result.getvalue()))

"<class 'pandas.core.series.Series'>\ncode\nCHN    1469.88\nIND    1168.90\nRUS     227.30\nUSA     391.60\nVNM     120.02\nName: cell, dtype: float64\n"

In [55]:
# Testing Cell

assert True

**Q15** Print the type of `cell2` and then print `cell2`.  Compare and contrast with the answer(s) to the previous question as comments in the code cell.

In [57]:
result =  io.StringIO()
with redirect_stdout(result):
    print(type(cell2))
    print(cell2)
print(result.getvalue())
#printing cell2 is much more readable than cell1

<class 'pandas.core.frame.DataFrame'>
         cell
code
CHN   1469.88
IND   1168.90
RUS    227.30
USA    391.60
VNM    120.02

In [58]:
# Testing Cell

assert True

**Q16** Print the subset of rows from position 9 up to but not including position 15 from `topnames`.

In [59]:
result =  io.StringIO()
with redirect_stdout(result):
    print(topnames[9:15])
print(result.getvalue())

             name  count
year sex
1884 Male    John   9388
1885 Female  Mary   9128
     Male    John   8756
1886 Female  Mary   9889
     Male    John   9026
1887 Female  Mary   9888

In [60]:
# Testing Cell

assert True

**Q17** Print the selection of the subset of rows from the beginning of the rows up to but not including position 5 from `topnames0`.

In [61]:
result =  io.StringIO()
with redirect_stdout(result):
    print(topnames0[:5])
print(result.getvalue())

   year     sex  name  count
0  1880  Female  Mary   7065
1  1880    Male  John   9655
2  1881  Female  Mary   6919
3  1881    Male  John   8769
4  1882  Female  Mary   8148

In [62]:
# Testing Cell

assert True

**Q18** Print the selection of the subset of rows starting from India (code `'IND'`) and ending with the United States (code `'USA'`) from `indicators`

In [63]:
result =  io.StringIO()
with redirect_stdout(result):
    print(indicators['IND':'USA'])
print(result.getvalue())

                 country      pop       gdp   life    cell
code
IND                India  1338.66   2652.55  68.80  1168.9
RUS   Russian Federation   144.50   1578.62  72.12   227.3
USA        United States   325.15  19485.39  78.54   391.6

In [64]:
# Testing Cell

assert True

**Q19** Print the selection of rows from `indicators` starting with Vietnam and proceeding backward to the Russia row.

In [66]:
result =  io.StringIO()
with redirect_stdout(result):
    print(indicators['RUS':'VNM'])
print(result.getvalue())

                 country     pop       gdp   life    cell
code
RUS   Russian Federation  144.50   1578.62  72.12  227.30
USA        United States  325.15  19485.39  78.54  391.60
VNM              Vietnam   94.60    223.78  76.45  120.02

In [67]:
# Testing Cell

assert True

**Q20** Using tuples for the two levels of the `topnames` row index,
print the selection of rows from the 2002/Female row up to and including the 2004/Male row.

In [68]:
result =  io.StringIO()
with redirect_stdout(result):
    print(topnames[(2002,'Female'):(2004,'Male')])
print(result.getvalue())

              name  count
year sex
2002 Female  Emily  24464
     Male    Jacob  30574
2003 Female  Emily  25691
     Male    Jacob  29638
2004 Female  Emily  25037
     Male    Jacob  27881

In [69]:
# Testing Cell

assert True

**Q21** Compute a boolean vector indicating whether or not `pop` column values are less than 100.  Assign to `small_country`, and print the vector.

In [70]:
result =  io.StringIO()
with redirect_stdout(result):
    small_country = indicators['pop'] < 100
    print(small_country)
print(result.getvalue())

code
CHN    False
IND    False
RUS    False
USA    False
VNM     True
Name: pop, dtype: bool

In [71]:
# Testing Cell

assert True

**Q22** Print a selection of specific rows in `indicators` based on the boolean vector `small_country`.

In [72]:
result =  io.StringIO()
with redirect_stdout(result):
    print(indicators[small_country])
print(result.getvalue())

      country   pop     gdp   life    cell
code
VNM   Vietnam  94.6  223.78  76.45  120.02

In [73]:
# Testing Cell

assert True

**Q23** Print the specific rows in `indicators` where the `pop` is less than 1000, without using an intermediate boolean vector computation.

In [74]:
result =  io.StringIO()
with redirect_stdout(result):
    print(indicators[indicators['pop'] < 1000])
print(result.getvalue())

                 country     pop       gdp   life    cell
code
RUS   Russian Federation  144.50   1578.62  72.12  227.30
USA        United States  325.15  19485.39  78.54  391.60
VNM              Vietnam   94.60    223.78  76.45  120.02

In [75]:
# Testing Cell

assert True

**Q24** Compute and assign to `fewer_people` the boolean vector based on `pop` in `indicators` being less than 1000. Compute and assign to `short_life` the boolean vector based on `life` in `indicators` being less than 73.  Compute, assign, and print the boolean vector, `combined`, which is the element-wise logical AND of the two previous boolean vectors.

In [76]:
result =  io.StringIO()
with redirect_stdout(result):
    fewer_people = indicators['pop'] < 1000
    short_life = indicators.life < 73
    combined = fewer_people & short_life
    print(combined)
print(result.getvalue())

code
CHN    False
IND    False
RUS     True
USA    False
VNM    False
dtype: bool

In [77]:
# Testing Cell

assert True

**Q25** Print a single expression that finds the selection of the specific rows in `indicators` where `pop` is less than 1000 and `life` is less than 73.

In [78]:
result =  io.StringIO()
with redirect_stdout(result):
    print((indicators['pop'] < 1000) & (indicators.life < 73))
print(result.getvalue())

code
CHN    False
IND    False
RUS     True
USA    False
VNM    False
dtype: bool

In [79]:
# Testing Cell

assert True

**Q26** Print the selection of rows from `topnames0` with the 8 largest value of `year`.

In [80]:
result =  io.StringIO()
with redirect_stdout(result):
    print(topnames0.nlargest(8,'year'))
print(result.getvalue())

     year     sex  name  count
276  2018  Female  Emma  18688
277  2018    Male  Liam  19837
274  2017  Female  Emma  19800
275  2017    Male  Liam  18798
272  2016  Female  Emma  19496
273  2016    Male  Noah  19117
270  2015  Female  Emma  20455
271  2015    Male  Noah  19635

In [81]:
# Testing Cell

assert True

**Q27** Print the selection of rows from `topnames` with the four smallest values for `count`.

In [82]:
result =  io.StringIO()
with redirect_stdout(result):
    print(topnames.nsmallest(4,'count'))
print(result.getvalue())

             name  count
year sex
1901 Male    John   6900
1881 Female  Mary   6919
1899 Male    John   6990
1880 Female  Mary   7065

In [83]:
# Testing Cell

assert True

**Q28** By specifying *index* values, print the accessed value in `indicators` with the `cell` variable for the United States (code `USA`).

In [84]:
result =  io.StringIO()
with redirect_stdout(result):
    print(indicators.loc['USA','cell'])
print(result.getvalue())

391.6

In [85]:
# Testing Cell

assert True

**Q29** By specifying *index* values, print the accessed value in `topnames` with the `count` column and the row for 2002/Female.

In [91]:
result =  io.StringIO()
with redirect_stdout(result):
    print(topnames.loc[(2002,'Female'),'count'])
print(result.getvalue())

24464

In [88]:
# Testing Cell

assert True

**Q30** By specifying *position* values, print the accessed value in `indicators0` at row position 3 and column position 2.

In [95]:
result =  io.StringIO()
with redirect_stdout(result):
    print(indicators.iloc[3,2])
print(result.getvalue())

19485.39

In [96]:
# Testing Cell

assert True

**Q31** In `indicators`, use a slice that specifies all rows, and an index to specify the `gdp` column, obtain a vector for that column, placing your expression within a `print` call.

What is the data type of the result? What are the data types of the elements within the vector?  Answer as comments in your solution cell.

In [100]:
result =  io.StringIO()
with redirect_stdout(result):
    print(indicators.loc[:,'gdp'])
print(result.getvalue())
#the datatype is float64 and everything in the gdp column is a float

code
CHN    12143.49
IND     2652.55
RUS     1578.62
USA    19485.39
VNM      223.78
Name: gdp, dtype: float64

In [101]:
# Testing Cell

assert True

**Q32** Using the index for the 2001/Male row of `topnames` and a slice for all columns, obtain a vector for that row, printing the expression.  What is the data type of the result?  What are the data types of the elements within the vector?

In [103]:
result =  io.StringIO()
with redirect_stdout(result):
    print(topnames.loc[(2001,'Male'),:])
print(result.getvalue())
#the datatype is an object because it takes the name and count making it an object

name     Jacob
count    32545
Name: (2001, Male), dtype: object

In [104]:
# Testing Cell

assert True

**Q33** In `indicators0`, using a slice for all rows, and column position 3, obtain and print a vector of values for that particular column.

In [105]:
result =  io.StringIO()
with redirect_stdout(result):
    print(indicators0.iloc[:,3])
print(result.getvalue())

0    12143.49
1     2652.55
2     1578.62
3    19485.39
4      223.78
Name: gdp, dtype: float64

In [106]:
# Testing Cell

assert True

**Q34** Access and assign to variable `row` the 2001/Female fow from `topnames`.  Then in a print with two arguments, give the `name` and the `count` column values based on `row`.

In [107]:
result =  io.StringIO()
with redirect_stdout(result):
    row = topnames.loc[(2001,'Female'),:]
    print(row['name'],row['count'])
print(result.getvalue())

Emily 25057

In [108]:
# Testing Cell

assert True

**Q35** Within a print, use a slice to select rows in `topnames` from 2000/Male to 2002/Female and project column `name`.

In [109]:
result =  io.StringIO()
with redirect_stdout(result):
    print(topnames.loc[(2000, 'Male'):(2002,'Female'),'name'])
print(result.getvalue())

year  sex
2000  Male      Jacob
2001  Female    Emily
      Male      Jacob
2002  Female    Emily
Name: name, dtype: object

In [110]:
# Testing Cell

assert True

**Q36** Print the result of selecting specific rows in `indicators` where `life` is less than 75 and project the `pop` column.

In [111]:
result =  io.StringIO()
with redirect_stdout(result):
    print(indicators.loc[(indicators.life < 75),'pop'])
print(result.getvalue())

code
IND    1338.66
RUS     144.50
Name: pop, dtype: float64

In [112]:
# Testing Cell

assert True

**Q37** Select just the `CHN` row from `indicators` and project the columns of  `cell`, and `gdp`, printing the value of the expression.

In [113]:
result =  io.StringIO()
with redirect_stdout(result):
    print(indicators.loc['CHN',['cell','gdp']])
print(result.getvalue())

cell    1469.88
gdp     12143.5
Name: CHN, dtype: object

In [114]:
# Testing Cell

assert True

**Q38** Print the value obtained by selecting the position 4 row from `indicators` and projecting the columns at position 1, 3, and 0 (in that order).

In [115]:
result =  io.StringIO()
with redirect_stdout(result):
    print(indicators.iloc[4,[1,3,0]])
print(result.getvalue())

pop           94.6
life         76.45
country    Vietnam
Name: VNM, dtype: object

In [116]:
# Testing Cell

assert True

**Q39** Print the selection of the specific rows in `topnames0` where `count` is less than 7000, and project the `sex`, `count`, and `year` columns.

In [120]:
result =  io.StringIO()
with redirect_stdout(result):
    print(topnames0.loc[(topnames0['count'] < 7000),['sex','count','year']])
print(result.getvalue())

       sex  count  year
2   Female   6919  1881
39    Male   6990  1899
43    Male   6900  1901

In [121]:
# Testing Cell

assert True

**Q40** Select the two rows of `indicators` for India and China, and project columns from the start of the columns through `gdp`, printing the result.

In [122]:
result =  io.StringIO()
with redirect_stdout(result):
    print(indicators.loc[['IND','CHN'], :'gdp'])
print(result.getvalue())

     country      pop       gdp
code
IND    India  1338.66   2652.55
CHN    China  1386.40  12143.49

In [123]:
# Testing Cell

assert True

**Q41** Iterate over the rows of `indicators`.  At each iteration, where you obtain both the row label/index and the Series for the row itself, then print the row label and then the `gdp` and `pop` column fields for that row.  Do not add any extra annotation to the print, just printing the three specified values.  (Slightly different than the book version.)

In [124]:
result =  io.StringIO()
with redirect_stdout(result):
    for rowlabel, rowseries in indicators.iterrows():
        print(rowlabel, rowseries['gdp'],rowseries['pop'])
print(result.getvalue())

CHN 12143.49 1386.4
IND 2652.55 1338.66
RUS 1578.62 144.5
USA 19485.39 325.15
VNM 223.78 94.6

In [125]:
# Testing Cell

assert True

**Q42** Iterate over the columns of `topnames`.  At each iteration, where you obtain both the column label/index and the Series for that column, then print the column label and then the column values for the 2002/Male and 2002/Female rows in that colunn.

In [126]:
result =  io.StringIO()
with redirect_stdout(result):
    for collabel, colseries in topnames.iteritems():
        print(collabel, colseries[(2002,'Male')], colseries[(2002,'Female')])
print(result.getvalue())

name Jacob Emily
count 30574 24464

In [127]:
# Testing Cell

assert True