# Denison CS-181/DA-210 Homework

---

## Tabular Mutations Exercises

In [53]:
import os
import io
import sys
import re
import pandas as pd

from contextlib import redirect_stdout

def add_modules():
    """
    Starting at the current directory and proceeding up the file system
    tree, search for a directory named `modules`.  If found, and if not
    already there, add to the Python module search path.
    
    Params: None
    
    Return: None
    """
    directory = "."
    levels = 0
    while not os.path.isdir(os.path.join(directory, "modules")) and \
          levels < 5:
        directory = os.path.join(directory, "..")
        levels += 1
    module_path = os.path.abspath(os.path.join(directory, "modules"))
    if os.path.isdir(module_path):
        if not module_path in sys.path:
            sys.path.append(module_path)

add_modules()
import util

datadir = util.resolve_dir("tabulardata")

### Mutations Using `indicators` Variant

In the next few exercises, we will be using a data set from the file, `indicators3.csv` in the data directory.  It contains a variation of the indicators data.  This version contains data for four different countries over three different years, and also contains addtional country information, like the income categories, the world region, and the land area.

**Q1** Read the file into the data frame `indicators0` with no index. In separate print invocations, print a prefix of the first 6 rows, and then take the columns of the data frame, convert to a list, and print the list.

In [54]:
# Student Experimentation Cell

In [55]:
# Solution Cell

result = io.StringIO()
with redirect_stdout(result):
    indicators0 = pd.read_csv(os.path.join(datadir, 'indicators3.csv'))
    print(indicators0.head(6))
    print([collabel for collabel, colseries in indicators0.iteritems()])
print(result.getvalue())

          code_country  year         CNT01-region         CNT02-income  \
0          CHN (China)  2015  East Asia & Pacific  Upper middle income
1          IND (India)  2015           South Asia  Lower middle income
2  USA (United States)  2015        North America          High income
3        VNM (Vietnam)  2015  East Asia & Pacific  Lower middle income
4          CHN (China)  2016  East Asia & Pacific  Upper middle income
5          IND (India)  2016           South Asia  Lower middle income

   CNT03-land  IND01-pop  IND02-gdp  IND03-life  IND04-cell
0   9388210.0    1371.22   11015.54       76.09     1291.98
1   2973190.0    1310.15    2103.59       68.30     1001.06
2   9147420.0     320.74   18219.30       78.69      382.31
3    310070.0      92.68     193.24       76.05      120.32
4   9388210.0    1378.66   11137.95       76.25     1364.93
5   2973190.0    1324.51    2290.43       68.56     1127.81
['code_country', 'year', 'CNT01-region', 'CNT02-income', 'CNT03-land', 'IND01-pop', 'IND02-gdp', 'IND03-life', 'IND04-cell']

In [56]:
# Testing Cell

assert True

**Q2** Suppose we want to process the column names so that the columns whose names are of the form `XXX0n-<name>` get shortened to just `<name>`, and the rest remain as is.  This will proceed in three steps:

1. Write a lambda function, assigned to `short_col` that, given a string name of a column, yields the part after a `-` if the name contains a `-`.
2. Assign to `newcols` a list comprehension that applies `short_col` to the `columns` attribute of `indicators0`
3. Change `indicators0` so that its columns are based on `newcols`.

Print a prefix of the first five rows of the changed `indicators0`.

In [57]:
# Student Experimentation Cell

In [58]:
# Solution Cell

result = io.StringIO()
with redirect_stdout(result):
    short_col = lambda x: x.split('-')[1] if '-' in x else x
    newcols = [short_col(collabel) for collabel, colseries in indicators0.iteritems()]
    indicators0.columns = newcols
    print(indicators0.head())
print(result.getvalue())

          code_country  year               region               income  \
0          CHN (China)  2015  East Asia & Pacific  Upper middle income
1          IND (India)  2015           South Asia  Lower middle income
2  USA (United States)  2015        North America          High income
3        VNM (Vietnam)  2015  East Asia & Pacific  Lower middle income
4          CHN (China)  2016  East Asia & Pacific  Upper middle income

        land      pop       gdp   life     cell
0  9388210.0  1371.22  11015.54  76.09  1291.98
1  2973190.0  1310.15   2103.59  68.30  1001.06
2  9147420.0   320.74  18219.30  78.69   382.31
3   310070.0    92.68    193.24  76.05   120.32
4  9388210.0  1378.66  11137.95  76.25  1364.93

In [59]:
# Testing Cell

assert str(type(short_col)) == "<class 'function'>"
assert short_col('code_country') == 'code_country'
assert short_col('IND03-life') =='life'

**Q3** The column field `code_country` is a mashup, and we want to separate out the two distinct values (of `code` and `country`) for each row into their consituent parts.  This is also a multiple step process:

1. Write a lambda function, assigned to `get_code`, that, given a value of the `code_country` obtains and yields the "code" part of the value.  Hint: The code always precedes the first space.
2. Write a lambda function, assigned to `get_country` that, given a value of `code_country` obtains and yields the "country" part of the value.  Hint: If we can find the index of the opening parenthesis, slicing can obtain the part in-between.
3. Generate the `code` column and add it to the data frame by applying `get_code` to the proper column.
4. Generate the `country` column and add it to the data frame by applying `get_country` to the proper column.
5. Drop the original mashup column, assigning the result to `indicators1`.

Don't worry about re-ordering the columns or sorting rows at this point.

Print the five row prefix of the resultant `indicators1`.

In [60]:
# Student Experimentation Cell
ind2 = indicators0.copy()
codes = [get_code(ind2.loc[rowlabel, "code_country"]) for rowlabel,rowseries in ind2.iterrows()]
ind2['code'] = codes

In [61]:
# Solution Cell

result = io.StringIO()
with redirect_stdout(result):
    get_code = lambda x: x.split(' ')[0]
    get_country = lambda x: x.split('(')[1].split(')')[0]
    indicators0['code'] = [get_code(indicators0.loc[rowlabel, "code_country"]) for rowlabel,rowseries in indicators0.iterrows()]
    indicators0['country'] = [get_country(indicators0.loc[rowlabel, "code_country"]) for rowlabel,rowseries in indicators0.iterrows()]
    indicators1 = indicators0.drop('code_country', axis=1, inplace=False)
    print(indicators1)
print(result.getvalue())

    year               region               income       land      pop  \
0   2015  East Asia & Pacific  Upper middle income  9388210.0  1371.22
1   2015           South Asia  Lower middle income  2973190.0  1310.15
2   2015        North America          High income  9147420.0   320.74
3   2015  East Asia & Pacific  Lower middle income   310070.0    92.68
4   2016  East Asia & Pacific  Upper middle income  9388210.0  1378.66
5   2016           South Asia  Lower middle income  2973190.0  1324.51
6   2016        North America          High income  9147420.0   323.07
7   2016  East Asia & Pacific  Lower middle income   310070.0    93.64
8   2017  East Asia & Pacific  Upper middle income  9388210.0  1386.40
9   2017           South Asia  Lower middle income  2973190.0  1338.66
10  2017        North America          High income  9147420.0   325.15
11  2017  East Asia & Pacific  Lower middle income   310070.0    94.60

         gdp   life     cell code        country
0   11015.54  76.09  1291.98  CHN          China
1    2103.59  68.30  1001.06  IND          India
2   18219.30  78.69   382.31  USA  United States
3     193.24  76.05   120.32  VNM        Vietnam
4   11137.95  76.25  1364.93  CHN          China
5    2290.43  68.56  1127.81  IND          India
6   18707.19  78.54   387.40  USA  United States
7     205.28  76.25   120.60  VNM        Vietnam
8   12143.49  76.41  1469.88  CHN          China
9    2652.55  68.80  1168.90  IND          India
10  19485.39  78.54   391.60  USA  United States
11    223.78  76.45   120.02  VNM        Vietnam

In [62]:
# Testing Cell

assert str(type(get_code)) == "<class 'function'>"
assert str(type(get_country)) == "<class 'function'>"
assert get_code('USA (United States)') == 'USA'
assert get_country('USA (United States)') == 'United States'

**Q4** If you were able to successfully solve the previous problem, create a temporary data frame, `df_temp`, which is `indicators1` with the index set to `code`, then `year`.  If you were not successful at the previous problem, set the index of `df_temp` to `code_country` and then `year` from `indicators0`.  Then create `indicators2` by sorting by the index of `df_temp` in ascending order.

No need for printing of results in this solution.

In [ ]:
# Student Experimentation Cell

In [66]:
# Solution Cell

df_temp = indicators1.set_index(['code','year'])
indicators2 = df_temp.sort_index(axis=0, inplace=False)

In [67]:
# Testing Cell

secondrow0 = df_temp.iloc[1,:]
lastrowm0 = df_temp.iloc[len(df_temp)-2,:]

secondrow1 = indicators2.iloc[1,:]
lastrowm1 = indicators2.iloc[len(indicators2)-2,:]

assert secondrow0['pop'] == 1310.15
assert lastrowm0['pop'] == 325.15

assert secondrow1['pop'] == 1378.66
assert lastrowm1['pop'] == 93.64

**Q5** In the data directory you will find a file `sat.csv`, based on data from www.onlinestatbook.com. This data contains the high school GPA, SAT math score, SAT verbal score, and college GPAs, for a number of students.

1. Read the data into a pandas data frame `dfsat` with column headers.
2. From a copy of `dfsat`, add a new column 'total_SAT' containing the total SAT score for each student, calling the resulting data frame `dfsat2`.
3. From a copy of `dfsat2`, add a column 'GPA_change' with the change in GPA from high school to college, calling the resulting data frame `dfsat3`.  If the GPA increased from high school to college, this would be a positive number.
4. Update the column 'total_SAT' (in place in `dfsat3`) to scale it so that the max score is 2400 instead of 1600 (i.e., multiply each entry by 1.5).

Print the prefix of the first five rows of `dfsat3`

In [73]:
# Student Experimentation Cell

In [80]:
# Solution Cell

result = io.StringIO()
with redirect_stdout(result):
    dfsat = pd.read_csv(os.path.join(datadir, "sat.csv"))
    
    dfsat2 = dfsat.copy()
    dfsat2['total_SAT'] = [dfsat2.loc[rowlabel, "math_SAT"] + dfsat2.loc[rowlabel, "verb_SAT"] for rowlabel, rowseris in dfsat2.iterrows()]
    
    dfsat3 = dfsat2.copy()
    dfsat3['GPA_change'] = [dfsat2.loc[rowlabel, "college_GPA"] - dfsat2.loc[rowlabel, "hs_GPA"] for rowlabel, rowseris in dfsat3.iterrows()]
    
    dfsat3['total_SAT'] = [dfsat3.loc[rowlabel,"total_SAT"] * 1.5 for rowlabel, rowseries in dfsat3.iterrows()]
    print(dfsat3.head())
print(result.getvalue())

   hs_GPA  math_SAT  verb_SAT  college_GPA  total_SAT  GPA_change
0    3.45       643       589         3.52     1848.0        0.07
1    2.78       558       512         2.91     1605.0        0.13
2    2.52       583       503         2.40     1629.0       -0.12
3    3.67       685       602         3.47     1930.5       -0.20
4    3.24       592       538         3.47     1695.0        0.23

In [81]:
# Testing Cell

assert True

**Q6** Starting from a copy of original `dfsat` (name it `dfsat5`), we wish to create a column based on high school GPA. We name the column `rank`, and the value in the column should have value 1 if high school GPA is 3.5 and above, 2 if high school GPA is from 2.5 up to (but not including) 3.5, and value 3 if high school GPA is less than 2.5.

Two approaches that do not involve an explicit loop include:

1. Using a (lambda) function that yields the correct rank value given a high school GPA value, and then applying that function to the input column and assigning to the new column.
2. Using **conditional assignment** that, in a sequence of assignment statements, uses the approriate condition as part of the left hand side of an assignment.

You can solve this problem with either of these two approaches, but are disallowed from using a `for` loop.

Print the prefix of the first five rows of the modified `dfsat5`, and then print the suffix of the last five rows of the modified `dfsat5`.

In [96]:
# Student Experimentation Cell

In [99]:
# Solution Cell

result = io.StringIO()
with redirect_stdout(result):
    dfsat5 = dfsat.copy()
    dfsat5['rank'] = dfsat5.apply(lambda x: 1 if x['hs_GPA'] >= 3.5 else (2 if x['hs_GPA'] > 2.5 else 3), axis=1)
    print(dfsat5.head())
    print(dfsat5.tail())
print(result.getvalue())

   hs_GPA  math_SAT  verb_SAT  college_GPA  rank
0    3.45       643       589         3.52     2
1    2.78       558       512         2.91     2
2    2.52       583       503         2.40     2
3    3.67       685       602         3.47     1
4    3.24       592       538         3.47     2
     hs_GPA  math_SAT  verb_SAT  college_GPA  rank
100    3.76       605       590         3.64     1
101    3.49       692       683         3.42     2
102    3.07       680       692         3.25     2
103    2.19       617       503         2.76     3
104    3.46       516       528         3.41     2

In [100]:
# Testing Cell

assert True